*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header {
    background-color: #181818;
    padding: 32px 92px;
}
/* .header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
} */
.header__logo{
    
}
.header__body__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.header__nav__ul{
    display: flex;
    color: white;
}
.header__nav__ul li {
    margin-right: 30px;
}
.last{
    margin-right: 0;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    position: relative;
    z-index: 2;
}

.header__footer-img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header__button__btn, .btn__mid1, .btn__mid2 {
    border: 1px solid white;
    padding: 4px 36px;
    line-height: 25px;
    font-size: 17px;
    background-color: inherit;
    color: white;
    position: relative;
}
.btn__mid1{
    background-color: #4452FE;
}
.header__h1 {
    margin-bottom: 17px;
    z-index: 1;
}
.header__p{
    margin-bottom: 85px;

}
.header__body__btn-sector{
    margin-bottom: 35px;
}



@media (max-width: 875px) {
    .header__nav{
        width: 100%;
        position: absolute;
        top: 105px;
        left: 40%;
        display: block;
        float: none;
        z-index: 30;
        overflow: hidden;
        display: block;
        visibility: hidden;
    
        
    }
    .header__nav__ul{
        width: 100%;
        flex-direction: column;
        color: white;
        display: block;
        font-size: 30px;
    }
    .header__nav__ul a{
        z-index: 50;
        display: block;
    }
    .header__button::before{
        content: '';
        position: absolute;
        background-image: url('/img/burger.svg');
        background-position:center;
        background-repeat:no-repeat;
        right: -70px;
        top: calc(50% - 15px);
        width: 45px;
        height: 25px;
        display: block;
        z-index: 5;

    }

    .hide {
        visibility: hidden;
    }
    .vis{
        visibility: visible;
    }

}